html {
	height: 100%; /*чтоб не выпадали карточки*/
}
* {
	box-sizing: border-box;
}

body {
	min-height: 520px;
	/*border: 2px solid red;*/
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	padding: 0;
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	background-color: #28223F;
}

/*чтоб прижать футер к низу-создается обертка всего в боди*/
.wrap {
	display: flex;
	flex-direction: column;
	height: 100%;
	min-height: 100vh;
	border: 2px solid green;  /*для теста*/
}

/*Style for main Footer*/

footer {
	margin: 0 50px;
	display: flex;
	justify-content: space-between;
	flex-grow: 0;
	flex-shrink: 0;
	flex-basis: auto;
	/*border: 2px solid blue;  для теста*/
	align-items: flex-end;
}
/*style for soc media*/
.soc {
	/*border: 2px solid red;*/
	display: flex;
	justify-content: center;

}
.soc i {
	padding: 10px;
	text-shadow: 0px 6px 8px rgba(0, 0, 0, 0.6);
	transition: all ease-in-out 150ms;
}
.soc a:nth-child(1) {
	color: #e4405f;
}
.soc a:nth-child(2) {
	color: #3b5998;
}
.soc a:nth-child(3) {
	color: #1DA1F2;
}
.soc i:hover {
	margin-top: -3px;
	text-shadow: 0px 14px 10px rgba(0, 0, 0, 0.4);
}
.copyright-info {
	/*border: 2px solid blue;*/
	align-self: flex-end;
	width: 200px;
	color: #000;
	font-size: 12px;
	font-weight: 600;
	text-decoration: none;
}

/*END of footer style*/
main {
	max-width: 1600px;
	height: 100%;
	min-height: 81.3vh;
	width: 100vw;
	flex-wrap: wrap;
	margin: 0 auto;
	/*border: 2px solid yellow;*/
	display: flex;
	justify-content: center;
}

/*style for navigation*/
.main-nav {
	margin-top: 50px;
	margin-bottom: 50px;
	/*border: 2px solid red;*/
}

.nav-list {
	padding: 0;
	margin: 0 auto;
	list-style-type: none;
	display: flex;
	justify-content: center;
	align-items: center;
}

.nav-list li {
	margin-right: 10px;
	margin-left: 10px;
	width: 250px;
	border-radius: 50px;
	background-color: #1F1A36;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

.nav-list li:hover {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
	background-color: rgba(44, 31, 106, .5);
}

.nav-list a {
	display: block;
	text-decoration: none;
	padding: 10px;
	color: #fff;
	font-weight: 400;
	text-align: center;
	text-transform: uppercase;
	border-radius: 50px;
}

a.current {
	
	background-color: rgba(38, 29, 83, 1);
}

/*Style for Registration Form*/
h1.reg-title {
	font-size: 16px;
	color: #ffffff;
	font-weight: 400;
	text-align: center;
	margin: 0;
	padding: 15px 0;
	background-color: #1F1A36;
	border-radius: 15px 15px 0 0;
}

form.add-form {
	display: flex;
	flex-direction: column;
	max-height: 480px;
	min-height: 330px;
	width: 350px;
	font-size: 12px;
	color: #ffffff;
	background-color: #231E39;
	border-radius: 15px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
	padding-bottom: 20px;
	margin-bottom: 20px;
} 

fieldset {
	height: 100%;
	width: auto;
	border: none;
	margin: 0 auto;
	padding: 10px 30px 0 30px;
}	

input[type=text] {
	width:100%;
	padding: 7px;
	box-sizing: border-box;
	border: none;
	border-radius: 5px;
	background-color: #fff;
}
/*Style error inputs*/
.error {
	margin-bottom: 15px;
	color: #cc0000;
}

::placeholder {
	color: #99a1ad;
}

.button {
	display: block;
	width: 90px;
	cursor:pointer;
	margin: 0 auto; /*поправить кнопку расположение*/
	background-color: #03BFCB;
	border: 1px solid #03BFCB;
	border-radius: 3px;
	color: #231E39;
	font-family: Montserrat, sans-serif;
	font-weight: 500;
	padding: 5px 15px;
}

.button:hover {
	background-color: transparent;
	color: #02899C;
}

/*Стили дял карточки*/
h3 {
	margin: 10px 0;
}

h6 {
	margin: 5px 0;
	text-transform: uppercase;
}

p {
	font-size: 14px;
	line-height: 21px;
}

.card-container {

	background-color: #231E39;
	border-radius: 5px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
	color: #B3B8CD;
	padding-top: 30px;
	width: 350px;
	max-width: 100%;
	text-align: center;
	margin: 10px;
	max-height: 490px;
}



.card-container .round {
	border: 1px solid #03BFCB;
	border-radius: 50%;
	padding: 7px;
}
a.primary {
	text-decoration: none;
}
.primary {
	background-color: #03BFCB;
	border: 1px solid #03BFCB;
	border-radius: 3px;
	color: #231E39;
	font-family: Montserrat, sans-serif;
	font-weight: 500;
	padding: 10px 25px;
}

.primary:hover {
	background-color: transparent;
	color: #02899C;
}

.skills {
	background-color: #1F1A36;
	text-align: left;
	padding: 15px;
	margin-top: 30px;
	border-radius: 0 0 5px 5px;
}

.skills ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.skills ul li {
	border: 1px solid #2D2747;
	border-radius: 2px;
	display: inline-block;
	font-size: 12px;
	margin: 0 7px 7px 0;
	padding: 7px;
}
/*размещение кнопок в профиле-детали*/
.btn-details {
display: flex;
justify-content: center;
}
.primary {
	width: 90px;
}
.btn-back,
.btn-del {
	margin: 10px 5px 20px 5px;
}
.card-details {
	display: flex;
	flex-direction: column;
}