html {
	height: 100%;
}

body {
	border: 2px solid red;
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	padding: 0;
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	background: #C33764;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to bottom, #1D2671, #C33764);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to bottom, #1D2671, #C33764); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

main {
	height: 100%;
	max-width: 940px;
	margin: 0 auto;
	border: 2px solid blue;
	display: flex;
	justify-content: center;
}

/*style for navigation*/
.main-nav {
	margin-top: 50px;
	margin-bottom: 50px;
	border: 2px solid red;
}

.nav-list {
	padding: 0;
	margin: 0 auto;
	list-style-type: none;
	display: flex;
	justify-content: center;
	align-items: center;
}

.nav-list li {
	width: 250px;
	border-radius: 50px;
	background-color: rgba(38, 29, 83, 1);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

.nav-list li:hover {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
	background-color: rgba(44, 31, 106, .5);
}

.nav-list a {
	display: block;
	text-decoration: none;
	padding: 10px;
	color: #fff;
	font-weight: 400;
	text-align: center;
	text-transform: uppercase;
	border-radius: 50px;
}

a.current {
background: #ad5389;  /* fallback for old browsers */
background: -webkit-linear-gradient(to top, #3c1053, #ad5389);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to top, #3c1053, #ad5389); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/*Style for Registration Form*/
h1.reg-title {
	font-size: 16px;
	color: #ffffff;
	font-weight: 400;
	text-align: center;
	margin: 0;
	padding: 15px 0;
	background-color: rgba(38, 29, 83, .5);
	border-radius: 15px 15px 0 0;
}

form {
	height: 100%;
	width: 300px;
	font-size: 12px;
	color: #ffffff;
	background-color: rgba(44, 31, 106, .5);
	border-radius: 15px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
	padding-bottom: 15px;	
	
} 

fieldset {
	width: auto;
	border: none;
	margin: 0 auto;
	padding: 10px 30px 0 30px;
}	

input[type=text] {
	width:100%;
	padding: 7px;
	box-sizing: border-box;
	border: none;
	border-radius: 5px;
	background-color: #fff;
}
/*Style error inputs*/
.error {
	margin-bottom: 15px;
	color: #cc0000;
}

::placeholder {
	color: #99a1ad;
}

.button {
	display: block;
	width: 90px;
	padding: 5px 15px; 
	margin: 15px auto 0 auto;
	border: none;
	border-radius: 10px; 
	cursor: pointer;
	color: #ffffff;
	background: #76b852;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to bottom, #56ab2f, #76b852);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to bottom, #56ab2f, #76b852); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.button:hover {
	box-shadow: 0 5px 16px 0 rgba(0,0,0,0.5), 0 5px 50px 0 rgba(0,0,0,0.5);
}

/*Style for main Footer*/
footer {
color: #000;
font-size: 12px;
font-weight: 600;
margin-top: 25px;
}

/*Style Home page*/
.wrapper{
	width: 400px;	
	border: 1px solid red;
}
.wrapper p {
margin: 0;
margin-bottom: 5px;
}
	.wrapper h1 {
	font-size:16px;
	text-align: center;
	margin: 10px 0;
}
.user-card {
	
	padding: 10px;
	display: flex;
}
.col {
color: #000;

}
.col-1 {

	
	flex-basis: auto;
	padding: 0 10px 0 10px;
	font-weight: 600;
}
.col-2 {
	
	flex-basis: 100%;
	padding: 0 10px 0 0;
}
a.details {
	text-decoration: none;
	display: block;
	color: #fff;
	width: 80px;
	border: 1px solid red;
}