html, body{
	height: 100%;
	box-sizing: border-box;
}

body {
	/*border: 2px solid red;*/
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	padding: 0;
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	background: #C33764;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to bottom, #1D2671, #C33764);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to bottom, #1D2671, #C33764); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
/*чтоб прижать футер к низу-создается обертка всего в боди*/
.wrap {
	display: flex;
	flex-direction: column;
	height: 100%;
	border: 2px solid green;  /*для теста*/
	min-width: 940px;
}
.main {
	flex-grow: 1;
	flex-shrink: 0;
	flex-basis: auto;
}
/*Style for main Footer*/

footer {
	
	margin: 0;
	display: flex;
	justify-content: space-between;
	flex-grow: 0;
	flex-shrink: 0;
	flex-basis: auto;
	/*border: 2px solid blue;  для теста*/
	align-items: flex-end;
}
/*style for soc media*/
.soc {

	/*border: 2px solid red;*/
	display: flex;
	justify-content: center;

}
.soc i {
	padding: 10px;
	text-shadow: 0px 6px 8px rgba(0, 0, 0, 0.6);
	transition: all ease-in-out 150ms;
}
.soc a:nth-child(1) {
	color: #e4405f;
}
.soc a:nth-child(2) {
	color: #3b5998;
}
.soc a:nth-child(3) {
	color: #1DA1F2;
}
.soc i:hover {
	margin-top: -3px;
	text-shadow: 0px 14px 10px rgba(0, 0, 0, 0.4);
}
.copyright-info {
	/*border: 2px solid blue;*/
	align-self: flex-end;
	width: 200px;
	color: #000;
	font-size: 12px;
	font-weight: 600;
	text-decoration: none;
}

/*END of footer style*/
main {
	height: 100%;
width: 100vw;
	
	margin: 0 auto;
	border: 2px solid yellow;
	display: flex;
	justify-content: center;
}

/*style for navigation*/
.main-nav {
	margin-top: 50px;
	margin-bottom: 50px;
	/*border: 2px solid red;*/
}

.nav-list {
	padding: 0;
	margin: 0 auto;
	list-style-type: none;
	display: flex;
	justify-content: center;
	align-items: center;
}

.nav-list li {
	width: 250px;
	border-radius: 50px;
	background-color: rgba(38, 29, 83, 1);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

.nav-list li:hover {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
	background-color: rgba(44, 31, 106, .5);
}

.nav-list a {
	display: block;
	text-decoration: none;
	padding: 10px;
	color: #fff;
	font-weight: 400;
	text-align: center;
	text-transform: uppercase;
	border-radius: 50px;
}

a.current {
	background: #ad5389;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to top, #3c1053, #ad5389);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to top, #3c1053, #ad5389); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/*Style for Registration Form*/
h1.reg-title {
	font-size: 16px;
	color: #ffffff;
	font-weight: 400;
	text-align: center;
	margin: 0;
	padding: 15px 0;
	background-color: rgba(38, 29, 83, .5);
	border-radius: 15px 15px 0 0;
}

form {
	display: flex;
	flex-direction: column;
	max-height: 330px;
	width: 300px;
	font-size: 12px;
	color: #ffffff;
	background-color: rgba(44, 31, 106, .5);
	border-radius: 15px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
	padding-bottom: 20px;
} 

fieldset {
	height: 100%;
	width: auto;
	border: none;
	margin: 0 auto;
	padding: 10px 30px 0 30px;
}	

input[type=text] {
	width:100%;
	padding: 7px;
	box-sizing: border-box;
	border: none;
	border-radius: 5px;
	background-color: #fff;
}
/*Style error inputs*/
.error {
	margin-bottom: 15px;
	color: #cc0000;
}

::placeholder {
	color: #99a1ad;
}

.button {
	font-size: 12px;
	font-family: 'Montserrat', sans-serif;
	display: block;
	width: 90px;
	padding: 5px 15px; 
	margin: 20px auto 0 auto; /*поправить кнопку расположение*/
	border: none;
	border-radius: 10px; 
	cursor: pointer;
	color: #ffffff;
	background: #76b852;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to bottom, #56ab2f, #76b852);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to bottom, #56ab2f, #76b852); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.button:hover {
	box-shadow: 0 5px 16px 0 rgba(0,0,0,0.5), 0 5px 50px 0 rgba(0,0,0,0.5);
}



/*Style Home page*/
.wrapper{
	max-height: 300px;
	border: 3px solid blue;
	
	display: flex;
	flex-direction: column;
	
	width: 300px;
	font-size: 12px;
	color: #ffffff;
	background-color: rgba(44, 31, 106, .5);
	border-radius: 15px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
	padding-bottom: 20px;
}
.wrapper p {
	margin: 0;
	margin-bottom: 5px;
	font-weight: 400;
	
}
.wrapper h1 {
	font-size: 16px;
	text-align: center;
	padding: 15px 0;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	margin: 0;
	    background-color: rgba(38, 29, 83, .5);
}
.user-card {
	height: 100%;
	
	
	display: flex;
	flex-direction: column;
	align-items: center;
}
.user-avatar-container {
	height: 100%;
	position: relative;
}
.user-avatar {
	position: absolute;
	top: -10px;
	left: -40px;

	
	border-radius: 50%;
	
}
.user-avatar:hover {
	width: 81px;
	height: 81px;
	box-shadow: 0 5px 11px 0 rgba(0,0,0,0.5), 0 5px 10px 0 rgba(0,0,0,0.5);
}

.col-container {
	width: 100%;
	border: 2px solid blue;
	display: flex;
	

}
.col {
	color: #fff;
font-family: 'Montserrat', sans-serif;
	font-size: 12px;
}
.col-1 {
margin-right: 10px;
	
	flex-basis: auto;
	
	font-weight: 600;
	padding: 10px 0 10px 10px;
}
.col-2 {
	
	flex-basis: 100%;
	padding: 10px;
}
a.details {
	
	text-decoration: none;
	text-align: center;
  
	 
	 font-family: 'Montserrat', sans-serif;
	 	font-size: 12px;
	  width: 90px;
    padding: 5px 0;
    margin: 0 auto;
    margin-top: 20px;
 }
